html
  head
    title Poker-Fun
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://use.fontawesome.com/releases/v5.8.2/css/all.css', rel='stylesheet')
    link(href='/css/login.css', rel='stylesheet')
  body
    .container
      .row
        .col-sm-9.col-md-7.col-lg-5.mx-auto
          .card.card-signin.my-5
            .card-body
              h5.card-title.text-center Sign In
              form.form-signin
                  a.btn.btn-lg.btn-splitwise.btn-block.text-uppercase(href=oauth_url)
                    | Sign in with
                    | Splitwise
